
<div class="col-md-12">
    <div class="card card-container">
        <form  (ngSubmit)="validate()">
            <h4>Forgot Password</h4>
            <div class="form-group">
                <label for="q1">Account Email</label><br>
                <input name="email" [(ngModel)]="email" type="email" class="form-control" id="resetPasswordEmail" placeholder="Enter email">
            </div>
            <div class="form-group text-center">
                <a class="btn btn-link" >
                    <button class="btn btn-primary btn-block">Next</button></a>
            </div>
        </form>
    </div>
</div>